<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">

            <nav class="navbar navbar-light bg-light justify-content-between">
                @RenderSection("Checkboxes")
                @RenderSection("Search")
            </nav>

        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ChangeCategory();

            $('#streetInfo').keyup(function (e) {
                e.preventDefault();
                var streetName = $('input[name="streetName"]').val();
                var radioValue = $('input[name="category"]:checked').val();
                console.log(streetName);
                console.log(radioValue);
                $('#searchResult').load('@Url.Action("SearchStreet", "Home")?streetName=' + streetName + '&cat=' + radioValue);
            });
        });

        function ChangeCategory() {
            $('#sortStreet').trigger('submit');
        }
    </script>
</body>
</html>