@model List<Data.Entities.StreetRoad>

<div class="container" id="searchResults">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Length</th>
                <th scope="col" class="text-center">Begin</th>
                <th scope="col" class="text-center">End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <th scope="row">@element.Id</th>
                    <td class="text-center">@element.StreetName</td>
                    <td class="text-center">@element.StreetLenght</td>
                    <td class="text-center">@element.BeginOfStreet</td>
                    <td class="text-center">@element.EndOfStreet</td>
                </tr>
            }
        </tbody>
    </table>
</div>

